/*
 * Green: 93B78C
 * Light green: E7EFEF;
 * */

html {
  background-color: #333;
}
body {
  margin:0;
  background: #FFF;
  color: #333;
  font-family: 'PT Serif',Georgia,Times,'Times New Roman',serif;
  font-size: 1.2rem;
}

a {
  color: #6A8565;
}

blockquote {
  margin-left: 50px;

  font-size: 2rem;
  line-height: 1.5;
  font-style: italic;
}

/* ========
 * HEADER
 */
header {
  margin-bottom: 4rem;
  background-color: #333;
  color: #FFF;
}

.logo {
  position: relative; 
  font-family: battleslab, serif;
  font-weight: 900;
}


.logo-badge {
  position:absolute;
  left: 10px;
  height: 50px;
  width: 50px;
  background-color: #93B78C;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: -5px;
}

.logo-text {
  padding: 70px 10px 25px;
  font-size: 1.05rem;
  text-shadow: 2px 2px rgba(0,0,0,.2);
}

.logo-text a {
  text-decoration: none;
  color: #FFF;
}

.navmain {
  background-color: #CCC;
  color: #333;
  padding: 15px 10px;
  margin: 0;
}

.navmain > ul {
  margin: 0 auto;
  padding: 0;
  display: block;
  list-style: none;
  max-width: 1400px;
  box-sizing: border-box;
}

.navmain li {
  display: inline-block;
}

.navmain li + li {
  margin-left: 20px;
}
.navmain li + li:before {
  content: "■";
}

/* ========
 * FOOTER
 */

footer {
  padding: 10px;
  background-color: #333;
  color: #FFF;
}

footer > div {
  margin: auto;
  max-width: 1400px;
  box-sizing: border-box;

}

footer h2 {
  font-family: battleslab, serif;
}

/* ========
 * ARTICLE
 * */

article {
  position: relative;
  line-height: 2rem;
  display: grid;
  padding: 10px;
  background: url(/img/50.svg) no-repeat 100% calc(100% + 20px);
}

article > * {
  grid-column: 2;
}

article:before {
  content:"";
  height: 50px;
  width: 50px;

  grid-row: 1;
  grid-column: 2;

  background-color: #E7EFEF;
}

article:after {

  content: " * * * ";
  text-align: center;
  font-size: 4rem;
  font-family: battleslab, sans-serif;
  font-weight: 900;

  grid-column: 2;
  margin: 4rem 0;
}

article > h1 {
  margin: 0;
  font-family: battleslab, sans-serif;
  font-weight: 300;
  line-height: 1;

  padding-top: .3rem;
  font-size: 2.5rem;
  grid-row: 1;
}


article h2 {
  margin: 0;
  font-family: battleslab, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height:1;
  margin-bottom: 4rem;
}


article p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.article-intro {
  font-style: italic;
  font-size: 1rem;
}

.article-date {
  margin: 0;
  font-size: 1rem;
}

.article-photos {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}

.article-photos > a {
  display: inline-block;
  line-height:0;
}

.article-photos img {
  width: 100%;
}

figure {
  margin: 0 0 2rem;
}

figure img {
  width: 100%;
  height: 100%;
}
figcaption {
  padding-top: .5rem;
  border-top: 2px solid #6A8565;
  font-style: italic;
  font-size: 1.1rem;
}


@media (min-width: 374px) {
  article {
    padding: 25px;
  }

  footer {
    padding: 25px;
  }

  .logo-badge {
    left: 25px;
  }

  .logo-text {
    padding: 75px 25px 25px;
    font-size: 1.2rem;
  }

  .navmain {
    padding: 15px 25px;
  }
}

@media (min-width: 500px) {
  .logo-badge {
    height: 100%;
  }
  .logo-text {
    padding: 50px 25px 25px 100px;
  }

  .navmain > ul {
    margin: 0 auto;
    padding-left: 75px;
  }

  article > h1 {
    font-size: 3.3rem;
    padding-top: 0;
  }
}

@media (min-width: 700px) {

  .logo {
    margin:auto;
    max-width: 1450px;
  }

  footer > div {
    padding: 50px 50px 50px 75px;
  }


  article {
    grid-template-columns: 75px 4fr 50px;
    margin: auto;
    max-width: 1400px;
  }

  article:before {
    grid-column: 1;
    background-color: #93B78C;
  }

  article figure {
    grid-column: 1 / 3;
  }

  figure {
    display: flex;
    flex-direction: row-reverse;
  }

  figure div {
    margin-left: 25px;
    flex-shrink: 1;
  }
 
  figcaption {
    width: 100px;
    flex-shrink: 0;
    font-style: italic;
    font-size: 1.1rem;
  }


}

@media (min-width: 1000px) {
  article {
    grid-template-columns: 75px 4fr 50px 1fr 25px;
  }

  .article-intro {
    grid-column: 4;
    grid-row: 3 / span 10;
  }

   figcaption {
    width: 150px;
  }

  footer > div {
    padding: 50px 200px 50px 75px;
  }



}

