---
layout: layouts/home.njk
ogimage: https://fifty.snook.ca/img/head-bg.jpg
listdata: On a Quest to Eat at the World’s 50 Best Restaurants Before I Turn 50
tags:
  - nav
---
<style>
h1 + p { margin-top: 4rem; }
article h2 { margin-top: 3rem; margin-bottom:0; }
h2 + li { margin-top: 0; }
@media (min-width: 1000px) {
  article { grid-template-columns: 75px 1fr 75px; }
}
/* ========
 * Restaurant List
 */

.restaurants {
  line-height: 1.3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
  grid-auto-flow: dense;

  counter-reset: section;

  padding:0;
}

.restaurants > li {
  padding-bottom: 1rem;
  list-style: none;
  margin: 0;

  display:grid;
  grid-gap: 0;
  grid-template-columns: 125px;
}

.restaurants > li:before {
  counter-increment: section;            
  content: counters(section, ".") " ";
  border: 1px solid #40343450;
  height: 100px;
  width: 100px;
  text-align: right;
padding: 10px;
box-sizing: border-box;
  line-height: 8rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  
  grid-row: 1 / 5;
  grid-column: 1;
}

.restaurants > li > div {
  grid-column: 2;
}

.restaurants-name { 
  font-size: 1.3rem;
}

.restaurants-reserved > li:before {
  content: "";
  opacity: .5;
}


</style>

<h1>The Quest</h1>
<p>There is a scene in the movie, Ratatouille, when Anton Ego, the inimitable food critic, takes a bite of the titular dish. He is instantly transported to his childhood. There is something about being in that moment. The rest of world disappears. I can no longer hear. I can no longer see. All I can do is taste. And it is pure pleasure.</p>

<p><em>This is the moment I seek.</em></p>

<p>This journey will take me around the world, to visit 50 of the <a href="https://www.theworlds50best.com">World’s Best Restaurants</a>. I am no food critic. I have no sway. I’m just a guy who enjoys good food and enjoys to travel. </p>

<p>I have a <a href="https://docs.google.com/spreadsheets/d/1NPckHqoxjhqoUIzrI2KSzU1AWeettEVEsykZYgUyd9w/edit?usp=sharing">spreadsheet of all the restaurants</a>. Each year, a new list comes out and I update this spreadsheet. What you’ll find on this site is a history of all the places I’ve been. </p>

<p>Enjoy!</p>



<h2>Devoured</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<!--
For when I have more reservations made...
-->
<h2>Reserved</h2>

<ul class="restaurants restaurants-reserved">
  <li>
    <div class="restaurants-name">Disfrutar</div>
    <div class="restaurants-city">Barcelona, Spain</div>
  </li>
</ul>
