---
ogimage: https://res.cloudinary.com/snookca/image/upload/c_fill,h_800,w_800/v1550371160/13-heston/L1000463.jpg
listdata: On a Quest to Eat at the World’s 50 Best Restaurants Before I Turn 50
tags:
  - nav
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <link rel="icon" type="image/png" href="{{ '/img/fiftyicon64.png' | url }}" sizes="64x64">
  <link rel="stylesheet" href="https://use.typekit.net/rok2kxq.css">
  <link rel="stylesheet" href="{{ '/css/index.css?011019' | url }}">
  <link rel="stylesheet" href="{{ '/css/luminous-basic.min.css' | url }}">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <meta property="og:url" content="https://fifty.snook.ca{{ page.url | url }}">
  <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
  <meta property="og:type" content="article">
  <meta property="og:description" name="description" content="{{ listdata }}">
  <meta property="og:image" content="{{ ogimage }}">
  <meta name="twitter:card" content="summary_large_image">
<style>
h1 + p { margin-top: 4rem; }
article h2 { margin-top: 3rem; margin-bottom:0; }
h2 + li { margin-top: 0; }
@media (min-width: 1000px) {
  article { grid-template-columns: 75px 1fr 75px; }
}
/* ========
 * Restaurant List
 */

.restaurants {
  line-height: 1.3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px 50px ;
  grid-auto-flow: dense;

  counter-reset: section;

  padding:0;
}

.restaurants > li {
  list-style: none;
  margin: 0;

  display:grid;
  grid-gap: 0;
  grid-template-columns: 100px;
}

@media (max-width: 674px) {
    .restaurants li {
      grid-column: span 1 !important;
      font-size: inherit !important;
    }  
}

.restaurants > li:before {
  counter-increment: section;            
  content: counters(section, ".") " ";
  border: 1px solid #40343450;
  height: 80px;
  width: 80px;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
  line-height: 5rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  
  grid-row: 1;
  grid-column: 1;
}

.restaurants > li > div {
  grid-column: 2;
}

.restaurants-reserved {
  margin-bottom: 6rem;
}

.restaurants-reserved > li:before {
  content: "";
  opacity: .5;
}

.restaurants-name { 
font-weight: bold;
}

/* special restaurant list callouts */
.restaurants-devoured li:nth-child(18n-11),
.restaurants-devoured li:nth-child(18n-4) {
  grid-column: span 2;
  grid-row: span 2;
  color: #FFF;
  background-color: #93B78C;
  background-image: linear-gradient(110deg, black, rgba(0,0,0,0) 75%);
  background-size: cover;
  background-position: 100% 75%;

  min-height: 10rem;

  font-size: 2rem;
  padding-top: 1rem;
  
}

.restaurants-devoured li:nth-child(18n-11):before,
.restaurants-devoured li:nth-child(18n-4):before {
  line-height: 1.3rem;
}

.restaurants-devoured li:nth-child(18n-11) a,
.restaurants-devoured li:nth-child(18n-4) a {
  color: #FFF;
}

.restaurants-devoured li:nth-child(7){ background-image: linear-gradient(110deg, #000, #000, rgba(0,0,0,0) 75%), url(https://res.cloudinary.com/snookca/image/upload/c_fill,h_500,w_1003/v1544027371/relae/IMG_20181124_193504.jpg); }
.restaurants-devoured li:nth-child(14){ background-image: linear-gradient(110deg, #000, #000, rgba(0,0,0,0) 75%), url(https://res.cloudinary.com/snookca/image/upload/c_fill,h_500,w_1003/v1559328513/14-maido/IMG_20190409_194726.jpg); }
.restaurants-devoured li:nth-child(25){ background-image: linear-gradient(110deg, #000, #000, rgba(0,0,0,0) 75%), url(https://res.cloudinary.com/snookca/image/upload/c_fill,h_500,w_1003/v1578350814/25-tickets/L1010825.jpg); }


.restaurants-devoured li:nth-child(17n-16):before {background-color: #93B78C; color: #FFF; border-color: #93B78C}
.restaurants-devoured li:nth-child(11n+12):before {background-color: #403434; color: #FFF; border-color: #403434}

/****
  Home page Header
*/
header {
  display:grid;
  max-width: 1460px;
  margin: 0 auto 6rem;
  grid-template-columns: 1fr 1fr;
}
#logo, #logo-support {
  background-color: #93B78C;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}

#logo-support {
  background-color: #403434;
  background-image: url(https://res.cloudinary.com/snookca/image/upload/c_fill,h_800,w_800/v1550371160/13-heston/L1000463.jpg);
  background-size: cover;
}

#logo {
  position: relative;
}

#logo img {
  width: 50%;
  position: absolute;
  right: 10%;
  bottom: 10%;
  
}

.home-intro h1 {
  font-family: battleslab, serif;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}


@media (min-width: 500px) {
  .home-intro h1 {
    font-size: 2.3rem;
  }
}

@media (min-width: 800px) {
  .home-intro {
    display:grid;
    max-width: 1150px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;

  }

  .home-intro h1 {
    text-align: right;
    padding: 0 10% 0 0;
  }

  .home-intro div {
    padding: 0 0 0 10%;
  }
}

@media (min-width: 1000px) {
  .home-intro h1 {
    font-size: 3rem;
  }
}

article h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* ASTERISM Light */
.asterism {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr min-content 1fr;
}

.asterism:before, .asterism:after {
  content: "";
  border-top: 1px solid #403434;
}
</style>
</head>
<body>

<header>
  <div id="logo"><img src="/img/ffty.svg"></div>
  <div id="logo-support"></div>
</header>
<article>

<div class="home-intro">
  <h1>On a Quest to Eat at the World’s 50 Best Restaurants Before I Turn&nbsp;50</h1>
  <div>
    <p>There is a scene in the movie, Ratatouille, when Anton Ego, the inimitable food critic, takes a bite of the titular dish. He is instantly transported to his childhood. There is something about being in that moment. The rest of the world disappears. I can no longer hear. I can no longer see. All I can do is taste. And it is pure pleasure.</p>

    <p><em>This is the moment I seek.</em></p>

    <p>This journey will take me around the world, to visit 50 of the <a href="https://www.theworlds50best.com">World’s Best Restaurants</a>. I am no food critic. I have no sway. I’m just a guy who enjoys good food and enjoys to travel. </p>

    <p>I have a <a href="https://docs.google.com/spreadsheets/d/1NPckHqoxjhqoUIzrI2KSzU1AWeettEVEsykZYgUyd9w/edit?usp=sharing">spreadsheet of all the restaurants</a>. Each year, a new list comes out and I update this spreadsheet. What you’ll find on this site is a history of all the places I’ve been. </p>

    <p>Enjoy!</p>
  </div>
</div>


<div class="asterism"><div>*</div></div>

<h2>Devoured</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<div class="asterism"><div>*</div></div>
<!--
For when I have more reservations made...
-->
<h2>Reserved</h2>

<ul class="restaurants restaurants-reserved">
  <li>
    <div>
        <div class="restaurants-name">Noma</div>
        <div class="restaurants-city">Copenhagen, Denmark</div>
    </div>
  </li>
  <li>
    <div>
        <div class="restaurants-name">Maaemo</div>
        <div class="restaurants-city">Oslo, Norway</div>
    </div>
  </li>
  <li>
    <div>
        <div class="restaurants-name">Frantzén</div>
        <div class="restaurants-city">Stockholm, Sweden</div>
    </div>
  </li>
  <li>
    <div>
        <div class="restaurants-name">Den</div>
        <div class="restaurants-city">Tokyo, Japan</div>
    </div>
  </li>
</ul>



  </article>
  <footer>
   <div>
    <div class="about">
      <h2>The Quest</h2>

      <p>In 2018, shortly after my 44th birthday, I set myself a goal to visit 50 of the 
        World's 50 Best Restaurants before I turn 50.</p> 
      <p>A new list comes out every year, with new restaurants added to the list and some restaurants falling off the list. I can visit any restaurant that was on the list between 2017 and 2022. </p>

      <h3>Why?</h3>
      <p>I love to travel and I love great food. The list provides an excuse to travel to new places around the world all while enjoying some of the best food on the planet.</p>
    </div>

    <div class="copyright">
      &copy; <a href="https://snook.ca/">Jonathan Snook</a> &nbsp;✻&nbsp; <a href="https://fifty.snook.ca/feed/feed.xml">The RSS feed</a> &nbsp;✻&nbsp; <a href="mailto:fifty@snk.ms">Email me</a>
    </div>
   </div>
  </footer>
  <!-- Current page: {{ page.url | url }} -->
</body>
</html>
