---
layout: layouts/home.njk
tags:
  - nav
---
<style>
h1 + p { margin-top: 4rem; }
article h2 { margin-top: 3rem; margin-bottom:0; }
h2 + li { margin-top: 0; }
@media (min-width: 1000px) {
  article { grid-template-columns: 75px 1fr 75px; }
}
/* ========
 * Restaurant List
 */

.restaurants {
  line-height: 1.3;
  column-width: 250px;
  column-gap: 3rem;
}

.restaurants > li {
  padding-bottom: 1rem;
  break-inside: avoid;
}
.restaurants-name { 
  font-size: 1.3rem;
}
</style>
<h1>The Quest</h1>
<p>There is a scene in the movie, Ratatouille, when Anton Ego, the inimitable food critic, takes a bite of the titular dish. He is instantly transported to his childhood. There is something about being in that moment. The rest of world disappears. I can no longer hear. I can no longer see. All I can do is taste. And it is pure pleasure.</p>

<p><em>This is the moment I seek.</em></p>

<p>This journey will take me around the world, to visit 50 of the <a href="https://www.theworlds50best.com">World’s Best Restaurants</a>. I am no food critic. I have no sway. I’m just a guy who enjoys good food and enjoys to travel. </p>

<p>I have a <a href="https://docs.google.com/spreadsheets/d/1NPckHqoxjhqoUIzrI2KSzU1AWeettEVEsykZYgUyd9w/edit?usp=sharing">spreadsheet of all the restaurants</a>. Each year, a new list comes out and I update this spreadsheet. What you’ll find on this site is a history of all the places I’ve been. </p>

<p>Enjoy!</p>



<h2>Devoured</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<!--
For when I have more reservations made...
-->
<h2>Reserved</h2>

<ul class="restaurants">
  <li>
    <div class="restaurants-name">Alain Ducasse au<br> Plaza Athenee</div>
    <div class="restaurants-city">Paris, France</div>
  </li>

  <li>
    <div class="restaurants-name">Alléno Paris au<br> Pavillon Ledoyen</div>
    <div class="restaurants-city">Paris, France</div>
  </li>

  <li>
    <div class="restaurants-name">L’Arpège </div>
    <div class="restaurants-city">Paris, France</div>
  </li>
  <li>
    <div class="restaurants-name">L’Astrance</div>
    <div class="restaurants-city">Paris, France</div>
  </li>
  <li>
    <div class="restaurants-name">Disfrutar</div>
    <div class="restaurants-city">Barcelona, Spain</div>
  </li>
</ul>
