---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
<h2 class="subtitle">
<svg width="18px" height="22px" viewBox="0 0 16 18" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g fill-rule="nonzero" stroke="#333333" stroke-width="1" fill="none" > <path d="M6,17 C7.76357126,13.5237375 11,8.64201723 11,5.92307692 C11,3.20413662 8.76142375,1 6,1 C3.23857625,1 1,3.20413662 1,5.92307692 C1,8.64201723 4.21434245,13.4615479 6,17 Z"></path> <circle cx="6" cy="6" r="2"></circle> </g>
</svg><div class="map" style="left:{{mapleft}}px;top:{{maptop}}px;width:calc(100% - {{mapleft}}px);"></div>{{ city }}</h2>
<div class="article-intro">
  <h3 class="article-date">{{ date | readableDate }}</h3>
  <p>{{ listdata }}</p>


</div>
{{ content | safe }}

<div class="nextprev">
  {% if collections.post[idx-2] %} 
  <div><a href="{{ collections.post[idx - 2].url }}">Before this was {{ collections.post[idx - 2].data.title}}</a></div>
  {% endif %}
  {% if collections.post[idx] %} 
  <div><a href="{{ collections.post[idx].url }}">After this was {{ collections.post[idx].data.title}}</a></div>
  {% endif %}
</div>


<div class="asterism">* <span>*</span> *</div>
